<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951656976711-pfnvl5c5b3a2mjhcpnru1lt9n2drk33v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951656976711-pfnvl5c5b3a2mjhcpnru1lt9n2drk33v</string>
	<key>API_KEY</key>
	<string>AIzaSyDEzSf_Xovbj8y0j6bVAY8K1tOOWeqKF18</string>
	<key>GCM_SENDER_ID</key>
	<string>951656976711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maracaMap</string>
	<key>PROJECT_ID</key>
	<string>guia-do-exterior-do-cefet</string>
	<key>STORAGE_BUCKET</key>
	<string>guia-do-exterior-do-cefet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951656976711:ios:5bd0e3d528f0cc2e2d7c62</string>
</dict>
</plist>